@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

.xd {
    font-weight: 50;
    color: #292929;
    font-family: 'Anonymous Pro', monospace;



}

.line-1 {
    position: relative;
    top: 50%;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, .75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

/* Animation */
.anim-typewriter {
    animation: typewriter 8s steps(44) 1s 1 normal both,
        blinkTextCursor 1.5s steps(44) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 10em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }

    to {
        border-right-color: transparent;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: transparent;
    }

    to {
        border-right-color: #292929;
    }
}

body {
    background-image: url("image.png");
    background-size: auto;
    background-repeat: no-repeat;

    overflow-y: hidden;
    overflow-x: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

a {

    text-decoration: none;

    color: #ffffff;
}

.marked {
    background-color: white;
}



.pfp {
    opacity: 0.5;
    background-color: white;
    border-radius: 50%;
    width: 200px;
    /* you can use % */
    height: auto;

}

.dc {
    margin: auto;
    width: 55%;
    filter: blur(2px);
    background-color: 10, 10, 10;
    color: #6E6D6A;
    text-align: center;
    transition: 0.2s;
}

.ig {
    margin: auto;
    width: 55%;
    filter: blur(2px);
    background-color: 10, 10, 10;
    color: #6E6D6A;
    text-align: center;
    transition: 0.2s;
}

.email {
    margin: auto;
    width: 55%;
    filter: blur(2px);
    background-color: 10, 10, 10;
    color: #6E6D6A;
    text-align: center;
    transition: 0.2s;
}

.dc:hover {
    margin: auto;
    width: 55%;
    filter: blur(0px);
    background-color: 10, 10, 10;
    color: #6E6D6A;
    text-align: center;
    transition: 0.2s;
}

.ig:hover {
    margin: auto;
    width: 55%;
    filter: blur(0px);
    background-color: 10, 10, 10;
    color: #6E6D6A;
    text-align: center;
    transition: 0.2s;
}

.email:hover {
    margin: auto;
    width: 55%;
    filter: blur(0px);
    background-color: 10, 10, 10;
    color: #6E6D6A;
    text-align: center;
    transition: 0.2s;
}

.box {

    width: 450px;
    background: rgb(15, 15, 15);
    padding: 50px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: rgba(52, 52, 52, 0.279);
    border-radius: 2.5%;
    font-family: monospace;
}

p {
    margin: auto;
    width: 55%;

    background-color: 10, 10, 10;
    color: #6E6D6A;
    text-align: center;
    transition: 0.2s;
}

p:hover {
    margin: auto;
    width: 55%;
    filter: blur(0px);
    background-color: 10, 10, 10;
    color: #6E6D6A;
    text-align: center;
    transition: 0.2s;
}

p2 {
    margin: auto;
    width: 50%;

    color: #6E6D6A;
    text-align: left;
    max-width: 200px;
}

.social {
    width: 55%;
    background-color: 10, 10, 10;
    margin: auto;
    height: auto;
    filter: blur(2px);
    transition: 0.2s;
    padding-bottom: 10px;
    padding-top: 10px;
}

.social:hover {
    filter: blur(0px);
    transition: 0.2s;
}
